<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="toggleMenu()">
        <ion-icon name="ellipsis-horizontal"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">@hichamtalib7</ion-title>
  </ion-toolbar>
  
  <ion-menu contentId="main" side="end" menuId="main-menu">
    <!-- Add your menu content here -->
    <ion-content>
      <ion-list>
        <ion-item (click)="handleMenuOption('Option 1')">Option 1</ion-item>
        <ion-item (click)="handleMenuOption('Option 2')">Option 2</ion-item>
        <ion-item (click)="handleMenuOption('Option 3')">Option 3</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  
</ion-header>

<ion-content>

  <ion-grid>
    <!-- Profile -->
    <ion-row>
      <ion-col>
        <div class="profile__image">
          <img src="https://avatars.githubusercontent.com/u/31773165?v=4">
        </div>
        <div class="ion-text-center">
          <h4>Hicham Outaleb</h4>
          <p>I am A Full-Stack Developer</p>
        </div>
      </ion-col>
    </ion-row>

    <!-- Stats -->
    <ion-row class="stats">
      <ion-col>
        <h6>356</h6>
        <p>Photos</p>
      </ion-col>
      <ion-col>
        <h6>860</h6>
        <p>Friends</p>
      </ion-col>
      <ion-col>
        <h6>20</h6>
        <p>Groups</p>
      </ion-col>
    </ion-row>

    <!-- Grid -->
    <ion-row>
      <ion-col size="4" *ngFor="let item of friends">
        <ion-img [src]="item.feed_image"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
