<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
<ion-header>
    <ion-toolbar>
      <div class="ion-page" id="main-content">
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </div>
      <ion-title>@hichamtalib7</ion-title>
    </ion-toolbar>
  </ion-header>




<ion-content>

  <ion-grid>
    <!-- Profile -->
    <ion-row>
      <ion-col>
        <div class="profile__image">
          <img src="https://avatars.githubusercontent.com/u/31773165?v=4">
        </div>
        <div class="ion-text-center">
          <h4>Hicham Outaleb</h4>
          <p>I am A Full-Stack Developer</p>
        </div>
      </ion-col>
    </ion-row>

    <!-- Stats -->
    <ion-row class="stats">
      <ion-col>
        <h6>356</h6>
        <p>Photos</p>
      </ion-col>
      <ion-col>
        
        <h6>860</h6>
        <p>Friends</p>
      </ion-col>
      <ion-col>
        <h6>20</h6>
        <p>Groups</p>
      </ion-col>
    </ion-row>

    <!-- Grid -->
    <ion-row>
      <ion-col size="4" *ngFor="let item of friends">
        <ion-img [src]="item.feed_image"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

