<ion-header>
    <ion-toolbar>
      <ion-title>UserConnect | Search</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content id="content" fullscreen>
    <ion-searchbar
      placeholder="Search Name..."
      [(ngModel)]="currentSearchQuery"
      (ionChange)="searchQueryChanged($event.target.value)"
    ></ion-searchbar>
  
    <ion-list>
      <ion-item *ngFor="let friend of filteredFriends">
        <ion-avatar slot="start">
          <img [src]="friend.avatar" alt="{{ friend.name }} avatar" />
        </ion-avatar>
        <ion-label>
          <h2>{{ friend.name }}</h2>
          <p>{{ friend.location }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
  