<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" src="assets/icon/uc.png" size="small"></ion-icon>
      </ion-button>
    </ion-buttons>
  
    <ion-title>UserConnect | Feed</ion-title>
  
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="chatbox"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-list class="ion-no-padding">
    <ion-card *ngFor="let friend of friends">
      <ion-item>
        <ion-avatar slot="start">
          <img src="{{friend.avatar}}">
        </ion-avatar>
        <ion-label>
          <h3><b>{{friend.name}}</b></h3>
          <h3>{{friend.location}}</h3>
        </ion-label>
        <ion-note slot="end">
          <ion-label>{{friend.last_message.time}}</ion-label>
        </ion-note>
      </ion-item>
      <img src="{{friend.feed_image}}" [alt]="friend?.name">
    </ion-card>
  </ion-list>
</ion-content>
