<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" src="..\..\..\assets\icon\favicon.png" size="medium"></ion-icon>
      </ion-button>
    </ion-buttons>
  
    <ion-title>UserConnect | Feed</ion-title>
  
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="chatbox" class="chat"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-list class="ion-no-padding">
    <ion-card *ngFor="let friend of friends">
      <ion-item>
        <ion-avatar slot="start">
          <img src="{{friend.avatar}}">
        </ion-avatar>
        <ion-label>
          <h3><b>{{friend.name}}</b></h3>
          <h3>{{friend.location}}</h3>
        </ion-label>
        <ion-note slot="end">
          <ion-label>{{friend.last_message.time}}</ion-label>
        </ion-note>
      </ion-item>
      <img src="{{friend.feed_image}}" [alt]="friend?.name">
      <ion-grid >
        <ion-row>
          <ion-col size="3">
            <ion-button (click)="likeButtonClicked()" color="light">
              <ion-icon name="heart"></ion-icon>
              
            </ion-button>
          </ion-col>
    
          <ion-col size="3">
            <ion-button (click)="commentButtonClicked()" color="light">
              <ion-icon name="chatbubbles"></ion-icon>
              
            </ion-button>
          </ion-col>
    
          <ion-col size="3">
            <ion-button  (click)="shareButtonClicked()" color="light">
              <ion-icon name="share"></ion-icon>
              
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>
