<!-- src/app/pages/settings/settings.page.html -->
<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>
        Settings
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <!-- Your settings content goes here -->
    <ion-list>
      <ion-item>
        <ion-label>Setting 1</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Setting 2</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Setting 2</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Setting 2</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Setting 2</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Setting 2</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Setting 2</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
      <!-- Add more settings items as needed -->
    </ion-list>
  </ion-content>
  